<div class="section-card">
    <div class="input-card">
        <h2 class="page-title">Input - New Post</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">Post Name:</label>
                <input class="form-input" type="text" id="newname" />
                <label for="email-login">Post Content:</label>
                <input class="form-input" type="text" id="newbody" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">save</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/input1.js"></script>