<section class="card">
  <header >{{post.name}} Posted by {{post.user.username}} on {{format_date post.date}}</header>
  
   <p> {{post.body}}</p>

  </section>

    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
